beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
fastapi==0.65.1
greenlet==0.4.13
gunicorn==20.1.0
h11==0.12.0
idna==2.10
lxml==4.6.3
pydantic==1.8.2
pymemcache==3.4.3
python-dotenv==0.17.1
python-rapidjson==1.0
PyYAML==5.4.1
rapidjson==1.0.0
readline==6.2.4.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
starlette==0.14.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
watchgod==0.7
websockets==8.1
